header{
    margin-bottom: 120px;
    padding: 40px 40px;
    color: #ffffff;
    text-align: center;
    background-color: #292929;
}
.nav{
    position: sticky;
    top:0;
    border-bottom: 1px solid #eee;
    z-index: 10;
}

.nav-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 0;
}

.logo{
    text-decoration: none;
    color:#ffffff;
    font-weight: 800;
}

.menu{
    display: flex;
    align-items: center;
    gap:20px;
}

.menu a{
    color:#ffffff;
    text-decoration: none;
}

.menu a:hover{
    color:#502FC5;
}

/* 히어로 섹션*/
.hero{
    align-items: center;
    height: 400px;
    justify-items: center;
    padding-top: 50px;
}

.hero-title{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.hero-text{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}
/* 프로젝트 카드 */
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}
.work-card img{
    width: 100%;
}
.work-body h3{
    font-size: 24px;
    margin: 16px 0 0 0;
}
.work-card:hover{
    transform: translatex(-4px);
    transition: 0.15s ease;
}
/*footer*/
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    padding: 40px 40px;
    color: #ffffff;
    background-color: #292929;
}
.links{
    display: flex;
    gap: 20px;
}
.links a{
    text-decoration: none;
 color: #e0e0e0;       /* 기본 링크 - 밝은 회색 */
}
.links a:hover{
    color: #cfc2ff;
}
.links a:visited{
  color: #b0b0b0;       /* 방문한 링크 - 톤 다운 */
}
.links a:active{
  color: #483391;       /* 방문한 링크 - 톤 다운 */
}

body {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}
