h1{
    color:#ffffff;
    font-size: 32px;
}

h2{
    text-align: left;
    font-size: 20px;
    padding: 0 40px;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 500; /* Medium */
}

h4{
    text-align: center;
    padding: 0 40px;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 500; /* Medium */
}

h5{
    text-align: center;
    padding: 0 40px;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 400;
}

h6{
    color:#ffffff;
    font-size: 16px;
}

header{
    margin-bottom: 20px;
    padding: 20px 40px;
    color: #ffffff;
    text-align: center;
    background-color: #292929;
}

main{
    margin-bottom: 20px;
    padding: 20px 40px;
    text-align: left;
}

footer{
    margin-top: 40px;
    padding: 20px 40px;
    color: #ffffff;
    text-align: center;
    background-color: #292929;
}

.input{
    display: inline-block;
    width: 326px;
    padding : 12px;
    margin: 10px 0px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
}

input::placeholder{
    font-size: 14px;
}

.btn{
    width 326px;
    padding: 12px 50px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #292929;
    color:#ffffff;
    cursor: pointer;
    text-align: center;
}

.btn:hover{
    background-color: #505050;
}

.btn:active{
    transform: scale(0.95)
}

.btn:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}

.card{
    margin-top: 40px;
    margin-bottom: 40px;
    width:400px;
    height: 200px;
    padding: 32px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px  rgba(0, 0, 0, 1);
    border: #969696;
}

.btn2{
    padding: 12px 40px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #292929;
    color:#ffffff;
    cursor: pointer;
}

.btn2:hover{
    background-color: #505050;
}

.btn2:active{
    transform: scale(0.95)
}

.btn2:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}

.badge{
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    background: #502FC5;
    color: #ffffff;
    border-radius: 90px;
    margin-bottom: 8px;
}

.alert{
    width: 300px;
    padding:12px;
    border-radius: 8px;
    background-color: #ffe7e7;
    border: #fa4848;
    color: #fa4848;
    font-weight: 400;
    text-align: center;
}

a:link {
  color: #e0e0e0;       /* 기본 링크 - 밝은 회색 */
}

a:visited {
  color: #b0b0b0;       /* 방문한 링크 - 톤 다운 */
}

a:hover {
  color: #4dabf7;       /* 호버 시 - 포인트 블루 */
  text-decoration: underline;
}

a:active {
  color: #1c7ed6;       /* 클릭 중 - 진한 블루 */
}